:root {
  --color-red-empresarial: #CE132D;
  --color-green-empresarial: #00833E;
  --color-grey-empresarial: #424E56;
  --color-lightGrey-empresarial: #F5F5F5;
  --color-cream-empresarial: #FCEEBF;
  --color-blue-default: #1867C0;

  
  --font-title: "Roboto", "Verdana", sans-serif;
}